#!/bin/sh


if [ -z ${FLY_APP_NAME+z} ];
then
    echo normal docker mode

    # Sets and enables heart (recommended only in daemon mode)
    # case $RELEASE_COMMAND in
    #   daemon*)
    #     HEART_COMMAND="$RELEASE_ROOT/bin/$RELEASE_NAME $RELEASE_COMMAND"
    #     export HEART_COMMAND
    #     export ELIXIR_ERL_OPTIONS="-heart"
    #     ;;
    #   *)
    #     ;;
    # esac

    # Set the release to work across nodes. If using the long name format like
    # the one below (my_app@127.0.0.1), you need to also uncomment the
    # RELEASE_DISTRIBUTION variable below. Must be "sname", "name" or "none".
    # export RELEASE_DISTRIBUTION=name
    # export RELEASE_NODE=<%= @release.name %>@127.0.0.1

else

    echo "Running in Fly.io mode for ${FLY_APP_NAME}"
    ip=$(grep fly-local-6pn /etc/hosts | cut -f 1)
    export RELEASE_DISTRIBUTION=name
    export RELEASE_NODE=$FLY_APP_NAME@$ip
    export ELIXIR_ERL_OPTIONS="-proto_dist inet6_tcp"

fi

